.device-statu{
  border-radius: 4px;
  padding: 4px;
  font-weight: 100;
  color: #E83A3A;
  background-color: #FFE7E5;
}
.device-link{
  color: #15893D;
  background-color: #E6F5EB;
}
.miw-140{
  min-width: 140px;
}