.table-img-icon{
    width: 16px;
    height: 16px;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}
@mixin zIndexLoop($start, $end) {
    @for $i from $start through $end {
      &:nth-child(#{$i}) {
        z-index: 100- $i;
      }
    }
  }
  .table-img-box {
    .table-img-head {
      margin-left: -10px;
      @include zIndexLoop(1, 6);
      &:nth-child(1){
        margin-left: unset;
      }
    }
  }

  .separator{
    border-top: 1px dashed #EAEAEA;
    margin: 10px 0; 
  }

  .form-select:invalid {
    color: #999999;
    option{
     color: $body-color; 
    }
  }
