.bg-white-box {
    background-color: $white;
    padding: 24px;
    padding-left: 32px;
    border-radius: 24px;
  }
  .bg-light-box{
    background-color: #EAEAEA;
    padding: 16px;
    border-radius: 8px;  
  }